.Game {
  margin: 20px;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.CardGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
}

.Card {
  height: 250px;
}
