* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(240, 240, 240);
}

.Game {
  margin: 20px;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.CardGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
}

.Card {
  height: 250px;
}

.Card:hover {
  transform: scale(1.02);
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 15px rgba(102, 175, 233, 0.6);
  -moz-box-shadow:    0px 0px 15px 15px rgba(102, 175, 233, 0.6);
  box-shadow:         0px 0px 15px 15px rgba(102, 175, 233, 0.6);
}

.Score {
  color: green;
  font-weight: bold;
  font-size: 30px;
}
